<div class="sitter-steps">
  <div class="sitter-steps--top">
    <h2>ご利用方法　〜フェレットを預かりたい場合〜</h2>
  </div>
  <div class="sitter-steps--steps">
    <div class="col-md-3">
      <div class="steps--step">
        <%= render partial: "components/step/step",
                   locals:{
                     image: "search.png",
                     title: "お世話係に応募・立候補",
                     content: "お世話係に応募したり、気になるユーザーさんをフォローして
                               お世話係に立候補してみよう！"
                   }
         %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="steps--step">
        <%= render partial: "components/step/step",
                   locals:{
                     image: "communicate2.png",
                     title: "メッセージ",
                     content: "預かりたいフェレットの飼い主さんとメッセージ交換してでお互いの人となりや
                               お世話内容を打ち合わせてみよう！大事な命を預かるので、この段階でしっかりと
                               お互いの信頼を築いておくことが大事です。"
                   }
         %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="steps--step">
        <%= render partial: "components/step/step",
                   locals:{
                     image: "request.png",
                     title: "お世話のリクエスト",
                     content: "お世話の都合が合い信頼が得られれば、飼い主さんから「リクエスト」
                              が送られてきます。リクエストを「承認」をすると、お世話の予定が確定します。
                              「承認」する前であればリクエストを「辞退」することもできます。"
                   }
         %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="steps--step">
        <%= render partial: "components/step/step",
                   locals:{
                     image: "report.png",
                     title: "レポート",
                     content: "お世話している期間中は飼い主さんに写真付きのレポートを送ってあげよう！
                              決まりはありませんが、毎日送ってあげると飼い主さんも安心します！
                              お世話が終わった後は飼い主さんからレビューが送られて、完了です！"
                   }
         %>
      </div>
    </div>
  </div>
</div>
