.sitter-steps{
  width: 100%;
  height: 100%;
  background-color: #3975a3;
}

.sitter-steps--top{
  padding: 50px;
  text-align: center;
}

.sitter-steps--top h2{
  color: #FFF;
}

.sitter-steps--steps{
  display: flex;
  justify-content: center;
}
