.f-show > div {
  border-bottom: solid 1px rgba(51,51,51,.24);
  padding: 0 15px;
}

.f-show--character h5{
  margin-right: 15px;
}

.f-show--family{
  display: flex;
}

.f-show--family-name{
  font-size: 10px;
}

.f-show--owner-icon,
.f-show--sibling-icon{
  text-align: center;
}

.f-show--owner{
  width: 20%;
}

.f-show--siblings{
  width: 80%;
}

.f-show--sibling{
  display: flex;
  overflow: scroll;
}

.f-show--sibling-icon{
  width: 20%;
}
