.ferret > div > div{
  padding: 15px;
}

.ferret h5{
  border-bottom: solid 3px #78B7F0;
}

.ferret--top{
  display: flex;
  justify-content: space-between;
}

.ferret--actions{
  text-align: center;
  height: 200px;
}

.ferret--links{
  display: flex;
}

.ferret--message, .ferret--links{
  margin-top: 10px;
  margin-bottom: 50px;
}

.ferret--edit button{
  width: 100px;
  height: 50px;
  background-color: #4ba9a1;
  color: #FFF;
}

.ferret--delete button{
  width: 100px;
  height: 50px;
  background-color: #be4847;
  color: #FFF;
}

.ferret--edit button:hover,
.ferret--delete button:hover{
  color: #FFF;
}


.ferret--family{
  display: flex;
}

.ferret--owner-icon,
.ferret--sibling-icon{
  text-align: center;
}

.ferret--owner{
  width: 20%;
}

.ferret--siblings{
  width: 80%;
}

.ferret--sibling{
  display: flex;
  overflow: scroll;
}

.ferret--sibling-icon{
  width: 20%;
  margin-right: 10px;
}

.ferret--contract-sitter{
  display: flex;
}

.ferret--contract-sitter-icon{
  margin-right: 20px;
}

.ferret--contract-sitter-info{
  margin-top: 20px;
}

.ferret--posts h5{
  margin: 0 15px;
}
