<div class="item">
  <div class="item--image-box">
    <% if object.image %>
     <%= image_tag "/images/#{object.image}",size: "200x200", align: "center", class:"item--image" %>
    <% end %>
  </div>
  <ul class="item--info">
    <li><%= display_name(object) %></li>
    <li><%= display_age(object) %></li>
    <li><%= display_address(object) %></li>
  </ul>
</div>
