/* "card"はBootstrapのclassで、他でも使用する可能性があるため名称変更。*/
.card--{
  width: 350px;
  background: #fffcf3;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 1.5%;
  padding-bottom: 65px;
  position: relative;
}

.card--image{
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: auto;
}

.card--body{
  padding: 20px;
}

.card--title {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.card--info{
  font-size: 14px;
  text-align: center;
}

.card--intro {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}

.card--intro p{
  margin-bottom: 0;
}

.card--actions{
  width: 100%;
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

.card--actions > div{
  width: 30%;
}

.card--action{
  border-radius: 5%;
  padding: 3px;
}

.card--action a{
  text-decoration: none;
  color: #0bd;
}

.card--action a:hover{
  color: #0090aa;
}


/* ここだけフォローボタンのデザインを上書きする。 */
.card--action .follow{
  width: auto;
  height: auto;
  white-space: nowrap;
}

.card--action .follow .follow-btn .follow-btn--btn,
.card--action .follow .unfollow-btn .unfollow-btn--btn{
  padding: 0;
  background: none;
  color: #0bd;
  border: none;
  border-radius: none;
  transition: none;
}

.card--action .follow .follow-btn .follow-btn--btn:hover,
.card--action .follow .unfollow-btn .unfollow-btn--btn:hover,{
  background: none;
  color: #0090aa;
}

.card--action .follow .follow-btn .fa-user-plus,
.card--action .follow .unfollow-btn .fa-user-minus{
  display: none;
}

.card--action .follow .follow-btn .follow-btn--btn:disabled,
.card--action .follow .unfollow-btn .unfollow-btn--btn:disabled{
  background: none;
  color: #707070;
  border: none;
}
