<!--
暫定的なログインフォーム。最終的にはLINEでの認証を導入したい。
というわけで今はセキュリティー度外視でユーザー名だけでログイン。
どうしてもLINEログインが難しい場合は再検討。
-->

<h1>ログインフォーム</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with url: login_path do |f| %>

      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "ログイン", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
