/* footerを最下部に固定するための設定 */
body{
  display: flex;
  flex-direction:column;
  min-height: 100vh;
}

footer{
  background-color: #4ba9a1;
  color: #003e55;
  margin-top: auto;
  border-top: solid 1px #003e55;
}

footer a{
  color: #003e55 !important;
}

.footer--content{
  display: flex;
  justify-content: space-around;
}

.footer--bottom{
  text-align: center;
}
