<div class="description">
  <div class="inner">
    <div class="abstract col-md-10 offset-md-1">
      <h3>近所のフェレ友と支え合おう</h3>
      <p>
        テキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキスト
      </p>
    </div>
  </div>
</div>
