<div class="description">
  <div class="description--top">
    <h2>"PON"ってどんなサービス？</h2>
  </div>
  <div class="description--item description--first col-md-8 offset-4">
    <h5>近所のフェレット仲間と支え合おう</h5>
    <p>
      昔からペットとして人気があったフェレットではありますが、
      ペットとして飼育するには珍しい生き物でした。それが近年では
      フェレット専門のペットショップも存在するほどペットとして身近な
      存在となってきました。そうはいっても犬や猫と比べてまだまだ
      ペットホテルや病院などの環境は十分とは言えない状況です。
      散歩等の必要がなく、一人暮らしでも飼いやすいフェレットですが、
      それゆえに旅行や急な出張で困った経験がある方も多いはず。
      ”PON”はそんな方フェレット仲間同士で、フェレットを預けたり、
      預かったりして支えあうためのマッチングアプリです。
    </p>
  </div>
  <div class="description--item description--second col-md-8">
    <h5>フェレット仲間と繋がろう</h5>
    <p>
      散歩等の必要がなく、普段めったに家の外に出ることはないフェレット。
      "PON"では簡単なブログ感覚であなたの大切なフェレットの日常について
      投稿できる機能のほか、他の飼い主さんとのチャット機能等も用意しています。
      フェレットあるあるトークで盛り上がるもよし、お互いのフェレットの誕生日を
      祝うもよし、実際にフェレット同士を触れ合わせるもよし。
    </p>
  </div>
  <div class="description--item description--third col-md-8 offset-md-4">
    <h5>フェレットに興味はあるけど、飼えない・・・</h5>
    <p>
      お家ではフェレットと暮らせない。でもフェレットが大好きで、フェレットを飼えたらな...と
      思っている方もいるはず。あるいは以前飼われていた方も。
      "PON"のサービスはフェレットを飼っていない方でもご利用頂けます。
    </p>
  </div>
</div>
