<div class="sort-menu container">
  <div class="col-md-8 offset-md-2">
    募集状況
    預けたい/預かりたい
    性別
    男性/女性
    距離
    X km以内
    <button type="button" name="button" id="sortCloseBtn">閉じる</button>
  </div>
</div>
