/************************* タイトルSTART *************************/
.review-form--title{
  border-bottom: solid 3px #78B7F0;
  margin-bottom: 50px;
}
/************************* タイトルEND *************************/

/************************* テキストフォーム全般の設定TART *************************/
.review-form--form{
  margin-bottom:20px;
  position:relative;
}

.review-form--label{
  font-size:14px;
  color:#4ba9a1;
}

.review-form--input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-radius: 0;
  border-bottom:1px solid #757575;
}

.review-form--input:focus{
  outline: none;
  box-shadow: none;
}
/************************* テキストフォーム全般の設定END *************************/

/************************* 下のバーSTART *************************/
.bar{
  position:relative;
  display:block;
  width:100%;
}

.bar:before, .bar:after{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#4ba9a1;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%;
}

.review-form--input:focus ~ .bar:before,
.review-form--input:focus ~ .bar:after,
.review-form--input:focus ~ .bar:before,
.review-form--input:focus ~ .bar:after{
  width:50%;
}
/************************* 下のバーEND *************************/

/************************* 星START *************************/
.star-on-png:before{
  color: #f2a33a;
}

.star label{

}
/************************* 星END *************************/
