.my-rooms--room{
  height: 120px;
  padding: 15px;
  display: flex;
}

.my-rooms--opponent-info{
  width: 120px;
  margin-right: 20px;
  text-align: center;
  flex-shrink: 0;
}

.my-rooms--content{
  margin: auto 0;
  overflow: hidden;
}
