<div class="catch">
  <div class="container">
    <h1 class="catch--top-message">フェレット仲間を<br>集めよう！！</h1>
    <div class="catch--signup">
      <%= link_to new_user_path do %>
        <button type="button" name="button" class="catch--btn">
          早速始める
        </button>
      <% end %>
    </div>
  </div>
</div>
