.u-show > div {
  border-bottom: solid 1px rgba(51,51,51,.24);
  padding: 0 15px;
}

.u-show--family-name{
  font-size: 10px;
}

.u-show--family-members{
  display:flex;
}

.u-show--family-icon{
  width: 20%;
  text-align: center;
  overflow: scroll;
}
