
/************************* タイトルSTART *************************/
.ferret-form--title{
  border-bottom: solid 3px #78B7F0;
}
/************************* タイトルEND *************************/

/************************* テキストフォーム全般の設定TART *************************/
.ferret-form--form{
  margin-bottom:20px;
  position:relative;
}

.ferret-form--label{
  font-size:14px;
  color:#4ba9a1;
}

.ferret-form--input{
  font-size:18px;
  padding:10px 10px 10px 5px;
  display:block;
  border:none;
  border-radius: 0;
  border-bottom:1px solid #757575;
}

.ferret-form--input:focus{
  outline: none;
  box-shadow: none;
}
/************************* テキストフォーム全般の設定END *************************/

/************************* 下のバーSTART *************************/
.bar{
  position:relative;
  display:block;
  width:100%;
}

.bar:before, .bar:after{
  content:'';
  height:2px;
  width:0;
  bottom:1px;
  position:absolute;
  background:#4ba9a1;
  transition:0.2s ease all;
  -moz-transition:0.2s ease all;
  -webkit-transition:0.2s ease all;
}

.bar:before {
  left:50%;
}

.bar:after {
  right:50%;
}

.ferret-form--input:focus ~ .bar:before,
.ferret-form--input:focus ~ .bar:after,
.ferret-form--input:focus ~ .bar:before,
.ferret-form--input:focus ~ .bar:after{
  width:50%;
}
/************************* 下のバーEND *************************/

/************************* 生年月日入力欄START *************************/
.ferret-form--select{
  width: auto;
  display: inline-block;
  background-color: #FFF;
  font-size:18px;
  border: none;
  border-radius: 0;
}
/************************* 生年月日入力欄END *************************/

/************************* 性別入力欄START *************************/
.ferret-form--radio{
  display: none;
}

.ferret-form--gender{
  display: flex;
  justify-content: space-around;
}

.ferret-form--gender-btn{
  display: block;
  text-align: center;
  border-radius: 3px;
  background-color: #FFF;
  margin-right: 10px;
}

.male{
  border:1px solid #52b9d1;
  color: #52b9d1;
}

.female{
  border:1px solid #e96b6b;
  color: #e96b6b;
}

.male:hover, .ferret-form--radio:checked + .male{
  color: #FFF;
  background-color: #52b9d1;
}

.female:hover, .ferret-form--radio:checked + .female{
  color: #FFF;
  background-color: #e96b6b;
}
/************************* 性別入力欄END *************************/
