<div class="owner-steps">
  <div class="owner-steps--top">
    <h2>ご利用方法　〜フェレットを預けたい場合〜</h2>
  </div>
  <div class="owner-steps--steps">
    <div class="col-md-3">
      <div class="steps--step">
        <%= render partial: "components/step/step",
                   locals:{
                     image: "recruit.png",
                     title: "お世話してくれる人を募集",
                     content: "お世話係の募集を出したり、気になるユーザーさんをフォローしたりして
                               アピールしてみよう！"
                   }
         %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="steps--step">
        <%= render partial: "components/step/step",
                   locals:{
                     image: "communicate.png",
                     title: "メッセージ",
                     content: "預けたい相手にメッセージを送ってみよう！このタイミングで相手が信頼できるか
                              確認したり、お世話の内容を打ち合わせたりしておこう！大事な命を預けるので、
                              この段階でしっかりとお互いの信頼を築いておくことが大事です。"
                   }
         %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="steps--step">
        <%= render partial: "components/step/step",
                   locals:{
                     image: "letter.png",
                     title: "お世話のリクエスト",
                     content: "「信頼できる」と思ったらお世話の「リクエスト」を出してみよう！
                                相手から「承認」を受けたらお世話の予定が確定します。お世話期間中は
                                お世話がかりから写真付きのレポートが届きます！"
                   }
         %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="steps--step">
        <%= render partial: "components/step/step",
                   locals:{
                     image: "review.png",
                     title: "レビュー",
                     content: "無事フェレットをお迎えした後は、お世話係さんにレビューを送ってあげよう！"
                   }
         %>
      </div>
    </div>
  </div>
</div>
