.owner-steps{
  width: 100%;
  height: 100%;
  background-color: #83e2c5;
}

.owner-steps--top{
  padding: 50px;
  text-align: center;
}

.owner-steps--top h2{
  color: #FFF;
}

.owner-steps--steps{
  display: flex;
  justify-content: center;
}
