.admins-table td{
  line-height: 50px;
}

.admins-table--detail button{
  color: #4ba9a1;
  border: solid 2px #4ba9a1;
}

.admins-table--detail button:hover{
  color: #FFF;
  background-color: #4ba9a1;
}

.admins-table--invalid button{
  color: #e96b6b;
  border: solid 2px #e96b6b;
}

.admins-table--invalid button:hover{
  color: #FFF;
  background-color: #e96b6b;
}

.admins-table--registered button{
  color: #99aab5;
  border: solid 2px #99aab5;
  cursor: default;
}

.admins-table--registered button:hover{
  color: #99aab5;
  border: solid 2px #99aab5;
  cursor: default;
}

.admins-table--registered button:focus{
  outline: none;
  box-shadow: none;
}
