.admins-table td{
  line-height: 50px;
}

.admins-table--detail button{
  color: #e96b6b;
  border: solid 2px #e96b6b;
}

.admins-table--detail button:hover{
  color: #FFF;
  background-color: #e96b6b;
}

.admins-table--edit button{
  color: #f2a33a;
  border: solid 2px #f2a33a;
}

.admins-table--edit button:hover{
  color: #FFF;
  background-color: #f2a33a;
}
