.contract-overview{
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
  padding: 30px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.contract-overview--content{
  display: flex;
}

.contract-overview--owner{
  margin-bottom: 20px;
}

.contract-overview--owner-icon,
.contract-overview--sitter-icon{
  margin-right: 20px;
}

.contract-overview--owner-info,
.contract-overview--sitter-info{
  display: flex;
}

.contract-overview--ferrets-info{
  display: flex;
}

.contract-overview--ferret{
  margin-right: 30px;
}

.contract-overview--action button{
  color: #4ba9a1;
  border: solid 1px #4ba9a1;
}

.contract-overview--action button:hover{
  color: #FFF;
  background-color: #4ba9a1;
}
