.post-overview{
  width: 100%;
}

.post-overview--image{
  object-fit: fill;
  width: 100%;
  height: auto;
}

.post-overview--head{
  height: 30%;
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  padding: 1.25rem;
  padding-bottom: 0;
}

.post-overview--user{
  flex-grow: 10;
}

.post-overview--user-info{
  display: flex;
}

.post-overview--user-name{
  margin-left: 10px;
}

.post-overview--like{
  margin-right: 20px;
}

.post-overview--body{
  height: 70%;
}

.post-overview--content{
  height: 70%;
  overflow: auto;
}
