<div class="room">
  <div class="room--messages" id="messages">
    <%= render partial: "components/message/message",
               collection: room.messages
    %>
  </div>
  <div class="message-form--request">
    <%= link_to "正式依頼を出す", new_request_path(params: {user_id: room.opponent(current_user).id}) ,class:"message-form--request-btn" %>
  </div>
  <div class="room--message-form">
    <%= render "components/message-form/message-form", room: room %>
  </div>
</div>
