<% if current_user.present? %>
  <% if post.likes?(current_user) %>
    <li>
    <%= link_to post_likes_path(post), method: :delete do %>
      <div class="like">
        <span>
          <i class="far fa-thumbs-up"></i>
        </span>
        <%= post.likes.count %> いいね
      </div>
    <% end %>
    </li>
  <% else %>
    <li>
    <%= link_to post_likes_path(post), method: :post do %>
      <div class="dislike">
        <span>
          <i class="far fa-thumbs-up"></i>
        </span>
        <%= post.likes.count %> いいね
      </div>
    <% end %>
    </li>
  <% end %>
<% end %>
