<div class="row">
  <%= render "components/catch/catch" %>
</div>
<div class="row">
  <%= render "components/description/description" %>
</div>
<div class="row">
  <%= render "components/step/step" %>
</div>
