<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <%= render "components/catch/catch" %>
    </div>
    <div class="swiper-slide">
      <%= render "components/description/description" %>
    </div>
    <div class="swiper-slide">
      <%= render "components/owner-steps/owner-steps" %>
    </div>
    <div class="swiper-slide">
      <%= render "components/sitter-steps/sitter-steps" %>
    </div>
    <div class="swiper-slide">
      新規登録へのページ
    </div>
  </div>
  <div class="swiper-pagination"></div>
</div>
