<div class="post">
  <div class="post--overview">
    <%= render "components/post-overview/post-overview", post: post %>
  </div>
  <!-- コメントを以下するボタン。ボタンを押すと表示されるようにしたい。 -->
  <div class="post--comment">
    <div class="post--comment-form">
      <div class="col-md-8 offset-md-2">
        <%= render "components/comment-form/comment-form", post: post %>
      </div>
    </div>
    <!-- コメント一覧 -->
    <div class="post--comments">
      <div class=" col-md-8 offset-md-2">
        <%= render "components/comments/comments", comments: post.comments %>
      </div>
    </div>
  </div>
</div>
