.post--image{
  object-fit: fill;
}

.post--head{
  display: flex;
  justify-content: space-between;
  line-height: 50px;
  padding: 1.25rem;
  padding-bottom: 0;
}

.post--user{
  flex-grow: 10;
}

.post--user-info{
  display: flex;
}

.post--user-name{
  margin-left: 10px;
}

.post--like{
  margin-right: 20px;
}
