/************************* アイコンの設定START *************************/

.image-icon{
  border-radius: 50%;
  border: 2px solid #e96b6b;
  object-fit: cover;
}

/************************* アイコンの設定END *************************/
