/************************* アイコンの設定START *************************/

.image-icon{
  border-radius: 50%;
  border: 2px solid #e96b6b;
  object-fit: cover;
}


.image-square{
  border-radius: 5px;
  border: 1px solid black;
  object-fit: cover;
}

/************************* アイコンの設定END *************************/
