.posts--top-wrapper{
  margin-top: 7px;
  background-color: #FFF;
}

.posts--nav{
  display: flex;
  justify-content: center;
  align-items: center;
  height:50px;
  border-bottom: solid 1px #4ec4d3;
}

.posts--nav-link{
  width: 150px;
  display: inline-block;
  text-align: center;
  color: #26a69b !important;
}

.posts--search-form{
  width: 350px;
  height: 30px;
  position: relative;
}

.posts--search-input{
  width: 300px;
  height: 30px;
  padding:0 10px;
  border-radius:4px;
  border: none;
  outline:0;
  background:#eee;
  position: absolute;
  top: 0;
  left: 0;
}

.posts--search-btn{
  width: 50px;
  height: 30px;
  background: #e96b6b;
  color:#fff;
  border:none;
  border-radius:4px;
  position: absolute;
  top: 0;
  left: 300px;
}

.posts--main{
  padding-top: 50px;
}
