.ferret-show--icons{
  display:flex;
}

.ferret-show--parent{
  width: 20%;
  padding-left: 30px;
}

.parent a img{
  margin:0 auto;
}

.f-show--siblings{
  padding: 0 30px;
  width: 80%;
}

.f-show--sibling{
  width: 20%;
  display: flex;
}

.ferret-show--sibling a{
  margin-right: 20px;
}
