<%= link_to path do %>
  <div class="admins-stats">
    <div class="admins-stats--icon">
      <%= image_tag "/images/#{icon}", class:"" %>
    </div>
    <div class="admins-stats--data">
      <div class="admins-stats--data-item">
        <p><%= item %></p>
      </div>
      <div class="admins-stats--data-count">
        <%= count %>
      </div>
    </div>
    <% if item == "問い合わせ" %>
      <div class="admins-stats--unchecked-contact">
        <p>問い合わせ機能実装後、未読の問い合わせがあればここにnoticeを入れる。</p>
      </div>
    <% end %>
  </div>
<% end %>
