<div class="admins-stats">
  <div class="admins-stats--icon">
    <%= image_tag "/images/#{icon}", class:"" %>
  </div>
  <div class="admins-stats--data">
    <div class="adminsstats--data-item">
      <p><%= item %></p>
    </div>
    <div class="admins-stats--data-count">
      <%= count %>
    </div>
  </div>
</div>
