<p>
  当サービスをご利用頂き、ありがとうございます。
</p>

<p>
  この度はお問い合わせ頂きありがとうございます。
  以下の内容にてお問い合わせを受け付けました。<br>
  内容を確認の上、ご回答致しますので今しばらくお待ちください。
</p>

<p>+‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥+</p>

<h4>お問い合わせ内容</h4>
日時: <%= display_time(@contact.created_at) %><br>
項目: <%= display_subject(@contact) %><br>
本文: <%= @contact.content %>

<p>+‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥+</p>

<p>
  本メールにお心あたりが無い場合、どなたかがメールアドレスを誤って入力されたものと思われます。<br>
  お手数ですが、下記にお問い合わせください。
</p>

http:xxxxxxxxxxxxxxxxxxxxxxx<br>
tel: 000-0000-0000

<p>
  ※このメールに返信されましても、お答えする事は出来ませんのでご了承願います。<br>
</p>
