<p>
  当サービスをご利用頂き、ありがとうございます。
</p>

<p>
  この度はお問い合わせ頂きありがとうございます。
  以下の内容の通りご回答致しますのでご確認ください。
</p>

<p>+‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥+</p>

<h4>お問い合わせ内容</h4>
日時: <%= display_time(@contact.created_at) %><br>
項目: <%= display_subject(@contact) %><br>
本文: <%= @contact.content %>

<p>+‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥+</p>

<p>+‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥+</p>

<h4>回答</h4>
<%= @contact.reply %>

<p>+‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥‥+</p>

<p>
  このメールは送信専用となっております。上記回答にて解決しない場合やご不明な点がある場合は<br>
  大変お手数ですが改めて問い合わせフォームよりご連絡頂きますようお願いいたします。
</p>

<p>
  本メールにお心あたりが無い場合、どなたかがメールアドレスを誤って入力されたものと思われます。<br>
  お手数ですが、下記にお問い合わせください。
</p>

http:xxxxxxxxxxxxxxxxxxxxxxx<br>
tel: 000-0000-0000

<p>
  ※このメールに返信されましても、お答えする事は出来ませんのでご了承願います。<br>
</p>
