<div class="comments" id="commentList">
  <div class="comments--title">
    <span>
      <i class="far fa-comments"></i>
    </span>
    コメント
  </div>
  <div class="comments--comments">
    <%= render partial: "components/comment/comment", collection: comments %>
  </div>
</div>
