<div class="comments" id="commentList">
  <div class="comments--title">
    <span>
      <i class="far fa-comments"></i>
    </span>
    Comments
  </div>
  <% comments.each do |comment| %>
    <%= render "components/comment/comment", comment: comment %>
  <% end %>
</div>
