<div class="follow-list">
  <% users.each do |user| %>
    <div class="follow-list--user">
      <div class="follow-list--user-image">
        <% if user.image.attached? %>
          <%= image_tag user.image, size:"80x80", class:"image-icon" %>
        <% else %>
          <%= image_tag "/images/no_image.jpg", size:"80x80", class:"image-icon" %>
        <% end %>
      </div>
      <div class="follow-list--user-name">
        <%= display_name(user) %>
      </div>
      <div class="follow-list--follow-btn">
        <% unless current_user?(user) %>
          <%= render "components/follow/follow", user: user %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
