.follow-list--user{
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  line-height: 40px;
}

.follow-list--user-image{
  margin-right: 20px;
}

.follow-list--user-details{
  flex-grow: 10;
}

.follow-list--follow-btn{
  line-height: 60px;
}
