<div class="home">
  <div class="home--nav">
    <%= render "components/home-nav/home-nav", type: type, sort: sort %>
  </div>
  <div class="home--main">
    <div class="container">
      <div class="home--cards">
        <%= yield %>
        <% if objects.blank? %>
          <p class="home--no-data">該当するデータが見つかりませんでした。</p>
        <% end %>
      </div>
      <div class="home--pagination">
        <%= paginate objects %>
      </div>
    </div>
  </div>
</div>
