<div class="home">
  <div class="home--top-wrapper">
    <div class="home--navigation">
      <%= link_to "フェレット", ferrets_path, class:"home--link-btn" %>
      <%= link_to "ユーザー", users_path, class:"home--link-btn" %>
    </div>
    <div class="home--seach-window container">
      <a href="#">絞り込み</a>
      <a href="#">検索</a>
    </div>
  </div>

  <div class="home--main-content container">
    <div class="home--cards">
      <%= render partial: "components/card/card", collection: objects %>
    </div>
  </div>
</div>
