<div class="home">
  <div class="home--nav">
    <%= render "components/home-nav/home-nav", type: type, sort: sort %>
  </div>
  <div class="home--main">
    <div class="container">
      <h1><%= title %></h1>
      <div class="home--cards">
        <%= yield %>
      </div>
      <div class="home--pagination">
        <%= paginate objects %>
      </div>
    </div>
  </div>
</div>
