.home--nav{
  background-color: #FFF;
}

.home--main{
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 20px;
}

.home--main h1{
  color: #FFF;
}

.home--cards{
  width:100%;
  display: flex;
  flex-flow: row wrap;
}
