<div class="step clearfix">
  <div class="step--steps step1">
    <h3>Step1</h3>
    <p>
      テキストテキストテキスト
      テキストテキストテキスト
      テキストテキストテキスト
    </p>
  </div>
  <div class="step--steps step2">
    <h3>Step2</h3>
    <p>
      テキストテキストテキスト
      テキストテキストテキスト
      テキストテキストテキスト
    </p>
  </div>
  <div class="step--steps step3">
    <h3>Step3</h3>
    <p>
      テキストテキストテキスト
      テキストテキストテキスト
      テキストテキストテキスト
    </p>
  </div>
</div>
