<div class="step">
  <div class="step--top">
    <%= image_tag "/images/#{image}", class:"step--icon" %>
  </div>
  <div class="step--content">
    <h5><%= title %></h5>
    <p><%= content %></p>
  </div>
</div>
