<div class="step">
  <div class="container">
    <div class="step--steps">
      <div class="step--step step1">
        <h3>Step1 新規登録</h3>
        <p>
          まずは、登録！ご登録頂くことで、
          近所の飼い主さんを探せるようになります。
        </p>
      </div>
      <div class="step--step step2">
        <h3>Step2 飼い主さんにコンタクト</h3>
        <p>
          気になる飼い主さんがいたら、直接メッセージを
          送ってみたり、フォローしてみたりしましょう！
        </p>
      </div>
      <div class="step--step step3">
        <h3>Step3 正式依頼</h3>
        <p>
          信頼の置ける飼い主さんが見つかったら、
          正式に依頼を出してみましょう！謝礼は
          当人同士で決められます。
        </p>
      </div>
      <div class="step--step step4">
        <h3>Step4 レビュー</h3>
        <p>
          あなたの大切な家族を預かってくれた
          お世話がかりの方にレビューをしてあげましょう。
        </p>
      </div>
    </div>
  </div>
</div>
