.step{
  width: 100%;
  height: 100vh;
  background: url(../../images/steps.jpg);
}

.step--steps{
  display: flex;
  flex-wrap: wrap;
}

.step--step{
  width:30%;
  height: 360px;
  margin-top:20px;
  margin-bottom: 20px;
  margin-right:5%;
  padding:15px;
  background-color: #F8F17F;
  border-radius: 15px;
}

.step3{
  margin-right:0;
}

.step--step h3{
  text-align: center;
}
