.user > div > div {
  padding:15px;
}

.user h5{
  border-bottom: solid 3px #78B7F0;
}

.user--top{
  display: flex;
  justify-content: space-between;
}

.user--actions{
  text-align: center;
  height: 200px;
}

.user--message, .user--edit{
  margin-top: 10px;
  margin-bottom: 50px;
}

.user--edit button{
  width: 200px;
  height: 50px;
  background-color: #4ba9a1;
  color: #FFF;
}

.user--edit button:hover{
  color: #FFF;
}

.user--follow{
  margin-bottom: 20px;
}

.user--ferrets{
  display:flex;
  overflow: scroll;
}

.user--ferret-icon{
  width: 20%;
  text-align: center;
}

.user--posts h5{
  margin: 0 15px;
}
