<div class="unfollow-btn">
  <button type="button" name="unfollow" class="unfollow-btn--btn" value="<%= user.id %>" >
    <span><i class="fas fa-user-minus"></i></span>
    フォローを解除
  </button>
</div>
