<div class="unfollow-btn">
  <%= link_to relationship_path(Relationship.find_by(followed_id: user.id)), data: {id: user.id} , method: :delete do %>
    <button type="button" name="unfollow" class="unfollow-btn--btn">
      <span><i class="fas fa-user-minus"></i></span>
      フォローを解除
    </button>
  <% end %>
</div>
