<div class="unfollowBtn">
  <button type="button" name="unfollow" id="unfollowBtn_<%= user.id %>" value="<%= user.id %>" >
    <span><i class="fas fa-user-minus"></i></span>
    フォローを解除
  </button>
</div>
