<div class="comment-form">
  <%= form_with url: comments_path,
                model: post.comments,
                class: "comment-form--form",
                id:"commentForm",
                data:{id: post.id} do |form| %>
    <%= form.text_area :content,
                       placeholder: "コメント",
                       class: "comment-form--content",
                       id: "commentContent" %>
    <%= form.submit "コメントする", class: "comment-form--btn", id:"commentBtn" %>
  <% end %>
</div>
