<%= render "components/admins-header/admins-header" %>
<div class="admins-home">
  <div class="admins-home--menu">
    めぬー
  </div>
  <div class="admins-home--content">
    <%= yield %>
  </div>
</div>
