.admins-home--menu{
  width: 20%;
  height: calc(100vh - 60px);
  background-color: #4ba9a1;
  position: fixed;
  top: 60px;
  left: 0;
  border-bottom: 0;
  box-shadow: 5px 0px 9px 0px rgba(0, 0, 0, 0.06);
}

.admins-home--menu ul{
  margin-top: 20px;
}

.admins-home--menu li{
  padding-left: 10%;
  padding-bottom: 20px;
  color: #f6c244;
  font-weight: bold;
}

.admins-home--menu li a{
  color: #FFF;
}

.admins-home--menu li a:hover{
  color: #f6c244;
}

.admins-home--content{
  width: 80%;
  min-height: calc(100vh - 60px);
  padding-top: 20px;
  margin-left: 20%;
  background-color: #eeeeee;
}

.admins-home--content h1{
  text-align: center;
  color: #3787e2;
}
