<header>
  <div class="header container">
      <div class="header-left">
        <h3 class="logo">PON</h3>
      </div>
      <div class="header-right">
        <%= link_to "LINE Login", user_line_omniauth_authorize_path %>
        <button class="btn btn-secondary">ログイン</button>
        <button class="btn btn-primary">新規登録</button>
      </div>
  </div>
</header>
