header{
  height:60px;
  line-height: 60px;
  background-color: #FFF;
}

.header{
  height:60px;
  display: flex;
  justify-content: space-between;
}

.header-left{
  width: 30%;
}

.header-right{
  width: 20%;
}

.logo{
  line-height: 60px;
}
