header{
  background-color: #FFF;
  width: 100%;
  position: fixed;
  z-index: 10;
}

.header--padding{
  padding: 30px 0;
}

.header{
  line-height: 60px;
  height:60px;
  display: flex;
  justify-content: space-between;
}

.header-left{
  width: 30%;
  display: flex;
}

.header--title{
  line-height: 60px;
  font-family: Comic Sans MS;
  font-size: 30px;
}

.header-right{
  width: 70%;
}

.header--toolbar{
  display: flex;
  justify-content: space-between;
}

/************ toolbarのアイコン ************/
i.material-icons {
		font-size: 36px;
    vertical-align: middle;
		position: relative;
		padding: 6px;
    border-radius: 50%;
		transition: color 0.2s ease, background-color 0.4s ease, transform 0.4s ease;
}

i.material-icons:hover {
    color: #FFF;
		transform: rotate(360deg);
		cursor: pointer;
    border-radius: 50%;
    border: solid 2px;
}

.header--pets {
		color: #cd8484;
}

.header--pets:hover {
		background-color: #cd8484;
}

.header--search{
		color: #ec9f83;
}

.header--search:hover {
		background-color: #ec9f83;
}

.header--message {
		color: #cdb274;
}

.header--message:hover {
		background-color: #cdb274;
}


.header--timeline {
		color: #88b999;
}

.header--timeline:hover {
		background-color: #88b999;
}

.header--territory {
		color: #88b2b9;
}

.header--territory:hover {
		background-color: #88b2b9;
}

.header--help {
		color: #8897b9;
}

.header--help:hover {
		background-color: #8897b9;
}

.header--settings {
		color: #af88b9;
}

.header--settings:hover {
		background-color: #af88b9;
}

.header--login, .header--logout {
		color: #d59acb;
}

.header--login:hover, .header--logout:hover {
		background-color: #d59acb;
}

.header--signup:hover{
    background-color: #007bff;
}


/************ 　　　　　　　　　 ************/
