<div class="container">
  <div class="post-detail--top">
    <%= render "components/post/post", post: post %>
  </div>
  <div class="post-detail--comments">
    <%= render "components/comments/comments", comments: comments %>
  </div>
</div>
